*{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   color: white;
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

:root{
   --gray: #1C1919;
   --green: #165520;
}

#nav{
   position: fixed;
   display: flex;
   width: 100vw;
   height: 13vh;
   justify-content: space-between;
   border-bottom: 1px solid var(--gray);
   backdrop-filter: blur(20px);
   box-shadow:0px 1px 1px black;
   z-index: 600;
}

#nav__logo{
   margin-left: 5vw;
   margin-top: 3vh;
   margin-bottom: 2vh;
   width: 60px;
   height: 50px;
}

.nav__list{
   display: flex;
   width: 50vw;
   justify-content: space-around;
   align-items: center;
}

.nav__list li{
   list-style: none;
   font-size: 20px;
   
}

.nav__list li a{
   text-decoration: none;
   position: relative;
   padding-bottom: 10px;
   padding-left: 15px;
   padding-right: 15px;
}

.nav__list a::before{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
   z-index: 1;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.5s ease-in-out;
}

.nav__list a:hover::before{
   transform-origin: left;
   transform: scaleX(1);
   transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

/* -- header-section ---------------------------------------*/
#header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
   background:black;
   background: linear-gradient(to right bottom, var(--gray) 45%, black 0%);
}

.header__section{
   margin-left: 5vw;
   font-size: 30px;
}

.header__title2{
   margin-bottom: 3vh;
   font-style: italic;
   font-weight: normal;
}

.header__subtitle{
   font-size: 30px;
   margin-top: 50px;
}

.header__image{
   margin-right: 8vw;

}

/* -- about and skills ------------------------*/
.info{
   display: flex;
   background-color: var(--gray);
   padding-top: 10vh;
   padding-left: 3vw;
   background: linear-gradient(to right bottom, black 50%, var(--gray) 0%);
}

#about{
   width: 50vw;
   height: 80vh;
   font-size: 27px;
   margin-left: 5vw;
}

.about__button--cv{
   background-color: var(--green);
   color: white;
   padding: 10px;
   margin-top: 5vh;
   font-size: 24px;
   border-radius: 4px;
}

.about__title{
   padding-bottom: 15vh;
}

#skills{
   display: grid;
   grid-template-rows: 1fr 4fr;
   grid-template-columns: 1fr;
   margin-top: 80vh;
   font-size: 27px;
   width: 50vw;
   height: 80vh;
}

.skills__title{
   grid-row: 1;
   grid-column: 1;
   margin-right: 5vw;
   margin-bottom: 15vh;
   text-align: right;
}

.skills__icons{
   grid-row: 2;
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   padding-left: 5vw;
}

.skills__icons img{
   transition: all .3s ease-in-out;
}

.skills__icons img:hover{
   transition: all .4s ease-in-out;
   transform:scale(1.2);
}

/* -- portfolio section ---------------------------------------*/
#portfolio{
   display: grid;
   grid-template-rows: 1fr 4fr 4fr;
   grid-template-columns: 1fr 1fr;
   background-color: var(--gray);
   padding-top: 10vh;
   font-size: 27px;
}

.portfolio h3{
   font-size: 24px;
}

.portfolio p{
   font-size: 20px;
}

.portfolio__title{
   grid-row: 1;
   grid-column: 1/2;
   margin-bottom: 10vh;
   margin-left: 5vw;
}

.portfolio__section{
   border-radius: 6px;
   transition: all .4s ease-in-out;
   width: 32vw;
}

.portfolio__section:hover{
   transition: all .4s ease-in-out;
   transform:scale(1.05);
}

.portfolio__section:hover img{
   filter: grayscale(10%);
}

.portfolio__section--tetris{
   grid-row: 2;
   grid-column: 1;
   background-color: black;
   justify-self: center;
   align-self: center;
}

.portfolio__section--tribute{
   grid-row: 2;
   grid-column: 2;
   background-color: black;
   justify-self: center;
   align-self: center;
}

.portfolio__section--hanged{
   grid-row: 3;
   grid-column: 1;
   background-color: black;
   justify-self: center;
   align-self: center;
   margin-top: 10vh;
}

.tribute__image img{
   width: 94%;
   height: 20%;
   border-radius: 6px;
   margin: 3%;
   filter: grayscale(100%);
   transition: all .3s ease-in-out;
}

.tribute__text{
   margin: 4%;
}

.tribute__section--developed{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
   margin-top: 10%;
   margin-bottom: 5%;
   margin-right: 6%;
}

.tribute__tags{
   display: flex;
   justify-content: flex-end;
   margin-top: 10px;
   width: 40%;
}

.tribute__tags p{
   background-color: var(--green);
   border-radius: 4px;
   padding-left: 4px;
   padding-right: 4px;
   margin-left: 10px;
   font-size: 18px;
}

.tribute__title{
   margin: 4%;
}

/* -- contact section -------------------------------------*/
.contact{
   background-color: var(--gray);
   display: flex;
   justify-content: space-around;
   font-size: 27px;
   padding-top: 20vh;
   padding-bottom: 30vh;
}

.contact__section{
   display: flex;
   flex-direction: column;
   width: 35%;
   margin-right: 5%;
}

.contact__title{
   text-align: end;
}

.contact__form{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 14vh;
}

.contact__form input{
   width: 70%;
   height: 50px;
   margin: 20px;
   padding: 20px 20px;
   border-radius: 10px;
   font-size: 1.2rem;
   color: black;
}

#contact__form--message{
   height: 150px;
}

#contact__form--submit{
   background-color: var(--green);
   border: none;
   color: white;
   font-size: 1.2rem;
   width: 5em;
}

/* -- footer --------------------------------------*/
.footer{
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 4%;
   padding-bottom: 6%;
}

.footer__section{
   display: flex;
}

.footer__section img{
   transition: all .3s ease-in-out;
}

.footer__section img:hover{
   transition: all .4s ease-in-out;
   transform:scale(1.2);
}

.footer__linked--icon{
   margin-left: 5vw;
}

.footer__text{
   font-size: 25px;
   margin-bottom: 60px;
}

/* -- animations ----------------------------------------*/
.animation__left{
   opacity: 0;
   transition: all 0.5s;
}

.animation__right{
   opacity: 0;
   transition: all 0.5s;
}

.showLeft{
   animation: showLeft 1s;
}

.showRight{
   animation: showRight 1s;
}

@keyframes showLeft{
   0%{
      transform: translateX(-50px);
   }
   100%{
      transform: translateX(0px);
   }
}

@keyframes showRight{
   0%{
      transform: translateX(100px);
   }
   100%{
      transform: translateX(0px);
   }
}